body {
    font-family: 'Koulen', cursive;
    margin: 0;
}

h1 {
    font-size: 50px;
    /* font-weight: 700; */
}

h2 {
    font-size: 40px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.flexible-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 50px;
}

.half-width img {
    width: 80%;
    margin-top: 10px;
}

.purple-color {
    color: purple;
}

.hero-section {
    background-image: url(images/dream-bg2.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    /* width: 60%; */
}

.experience-items {
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

#senior-dev {
    border-left: 7px solid;
    border-image: linear-gradient(#FF4949, #FFCD38);
    border-image-slice: 1;
}

#junior-dev {
    border-left: 7px solid;
    border-image: linear-gradient(#2E0249, #F806CC);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}