body{
    font-family: 'Koulen', cursive;
    margin: 0;
}

h1{
    font-size: 50px;
    /* font-weight: 700; */
}

h2{
    font-size: 40px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.flexible-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding-left: 50px;
}

.half-width img{
    width: 100%;
    margin-top: 10px;
}

.purple-color{
    color: purple;
}

.hero-section{
    background-image: url(images/dream-bg2.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    /* width: 60%; */
}

.experience-items{
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

#senior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#4e54c8, #8f94fb);
    border-image-slice: 1;
}

#junior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#2980B9, #78ffd6);
    border-image-slice: 1;
}